*{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    
}
.header{
    background-color: #EAC926;
    margin:auto;
    width: 90vw;

}
    .logo{
        width: 300px
    }
    .barra-busqueda{
        background-color: white;
        color:#ebebeb;
        width: 200px;
        margin-left: 10px;
        border: solid #666 0.5px;
        margin-bottom: 0;
    }
    .lupa{
        background-color: white;
        margin-left: 10px;
        border: solid #666 0.5px;
        width: 15px;
        padding-left:3px;
        margin-top: 0;
    }


    .nav-bar{
        display:none;
    }
        .nav-bar ul{
            padding-left: 0;
        }

            .nav-bar a{
                color:#666;
                text-decoration: none;
            }
    
    .burger-manu{
        background-color:  #03264C;
        color: white;
        font-size: 20px;
        width: 30px;
        height: 30px;
        text-align: center;
        display: inline-block;
        margin-right: 50px;
        margin-left: 140px;
        border-radius: 5px;
    }

.banner{
    margin:auto;
    background-color: #ebebeb;
}   
      
    .banner img{
        width: 90vw;
        margin: auto;
    }
.main{
    width: 90vw;
    margin:auto;
}
    .articulo{
        margin: 0 0 10px 0;
        border: 5px solid #ebebeb;

    }
        .product_img{
            width: 100%;
        }
        .detalles{
            border-top: 1px solid #ebebeb;
            padding: 15px;
        }
            .envio{
                border:solid #39b54a 0.5px;
                width: 30px;
                height: 30px;
                border-radius: 100px;
                color: #39b54a;
            }


            .titulares{
                font-size: 24px;
                background-color: #ebebeb;
                padding:15px 5px;
                margin: 0;
            }

            .precio{
                font-size: 18px;
            }

            .descuento{
                font-size: 16px;
            }

            .descripcion{
                font-size: 16px;
                display: none;
            }

.footer{
    text-align: center;
}

    .icono-footer i{
        font-size: 2em;
        margin-bottom: 10px;
    }

    .legales{
        text-align: left;
    }

    @media (min-width:361px){
        .nav-bar{
            display:block;
        }
        .burger-manu{
            display:none;
        }
        .descripcion{
        display:block;
        }
        .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }

    }

    @media (min-width:769px){
        
    }